@import url("/static/style.css");

p {
    margin: 0px;
}

@media (max-width: 600px) {
    body{
        margin-left: 10px; 
        margin-right: 10px; 
        margin-top: 50px;
    }

    .things{
        font-size:0.9rem;
    }

    footer{
        display:none;
    }
}

@media (min-width: 600px) {
    body{
        font-size: 24px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
    footer{
        z-index:2;
        width:90%;
        position:absolute;
        bottom:10px;
    }
}


@media (max-height: 700px) {
    footer{
        display:none;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.proj-link {
    width: auto;
    background: var(--accent);
    color:var(--bg-color);
    padding-left:5px;
    padding-right:5px;
    margin: 10px;
}

.proj-link:hover {
    filter: brightness(150%);
}

.fa-reddit {
    background: var(--bg-color);
    color: var(--icon);
}

.fa-github-alt {
    background: var(--bg-color);
    color: var(--icon);
}

.fa-linkedin {
    background: var(--bg-color);
    color: var(--icon);
}